body{
    user-select: none;
}

.navbar{
    margin-bottom: 50px;
}



.navbar-brand{
height: 100px;
width: 100px;
}
.timer{
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-direction: column;
}

.color{
    background-color: aqua;
    border-radius: 5px;
    color: black;
    padding: 5px;

}

